<section>
  <div class="row">
    <h3 class="two columns offset-by-five header">&#x2661;: {{favoritesCount}}</h3>
  </div>

  <div class="row">
    <h3 class="five columns offset-by-one">Animal Type:</h3>
    <select class="four columns" ng-model="animalType">
      <option value="dog" selected>Dogs</option>
      <option value="cat">Cats</option>
      <option value="smallfurry">Lil Pets</option>
      <option value="reptile">Reptiles</option>
      <option value="bird">Birds</option>
      <option value="horse">Horses</option>
      <option value="pig">Piggies</option>
      <option value="barnyard">Misc Barn Pets</option>
    </select>
  </div>
</section>

<div class="row">
  <button ng-if="animalType != null" class="five columns offset-by-one" ng-click="getRandomPet()">
    Get a Random {{animalType}}</button>
</div>

<div class="row">
  <img class="six columns" ng-src="{{picture}}"/>
  <div class="six columns">
    <button ng-if="name != null" ng-click="favoritePet()">Save to Favorites</button>
    <h3 ng-if="animalType != null" class="name">{{name}}</h3>
    <p ng-if="animalType != null" class="description">{{description}}</p>
  </div>
</div>
